html{
  background-color: #FFFFCC;
}

h1{
  color: #D2691E;
  border-top:2px solid #228B22;
  padding-left: 10%;
}

body{
  width: 80%;
  padding: 20px;
  box-shadow: 10px 10px 10px rgba(0,0,0,.5);
  margin: 0 auto;
  background-color: white;
}

.note{
  background-color: #FFFFCC;
  border: dotted;
  width: 70%;
  padding: 25px;
  margin-left: 10%;
}

h2{
  border-top:2px solid #228B22;
  padding-left: 10%;
}

h3{
  border-top:2px solid #228B22;
  padding-left: 10%;
}

p{
  padding-left: 10%;
}
