body{
	background-color: #cde6ff;
	padding-left: 20px;
	background-image: url("images/bg_body.png");
	background-repeat: no-repeat;
}
h1{
	color: #b1967c;
	font-size: 60px;
	padding-top: 80px;
}
h2{
	color: #e8a063;
	border-bottom: 3px solid #fff;
	font-size: 35px;
}
.sbar-head{
	color: #c4ddf4;
	padding-left: 10px;
	border-bottom: none;
}
.intro{
	color: #72a7dc;
}
.sidebar{
	background-color: #e9f5fe;
	float: right;
	width: 20%;
}
.main{
	float: left;
	width: 75%;
}
.subheader{
	background-image: url("images/bullet_flower.png");
	background-repeat: no-repeat;
	padding-left: 78px;
}
p{
	margin-left: 80px;
	clear: both;
}
.sbar-text{
	color: #b19793;
	padding-left: 10px;
	margin-left: 0px;
}
#intro-text{
	margin-left: 0px;
}
